{% for topic in entries %}
	<div class="item mp-entry" data-id="{{ topic.id }}">
		<div class="content">
			<a class="header" href="{{ topic.forumLink }}">{{ topic.forumTitle }}</a> >
			<a class="header" href="{{ topic.link }}">{{ topic.title }}</a>
			<div class="meta">
				<small class="date">{{ topic.date }}</small>
			</div>
			<div class="extra">
				{% set moreLink %}<a href="{{ topic.link }}#topic-{{ topic.id }}" target="_blank">{{ translate('Read more') }}</a>{% endset %}
				<div>{{ truncate(topic.content, 300) }} {{ moreLink|raw }}</div>
			</div>
		</div>
	</div>
{% endfor %}