{% import "@base/macros/options.twig" as options %}
{#{{ dump(sliderInfo.presets) }}#}
    {% set pluginS = settings.base.plugins.slider %}
{% set inputSliderAttr %}
    {% if sliderInfo.isPuliginActive != 'true' %} disabled="disabled" {% endif %}
    {% if sliderInfo.isPuliginActive == 'true' and pluginS.enabled == 1 %} checked="checked" {% endif %}
{% endset %}
{% if inputSliderAttr|trim|length %}
    {% set sliderRowAttributes = {
    'input': inputSliderAttr|trim,
    } %}
{% endif %}


{{ options.enablePluginRow(
    'Slider',
    'plugins[slider]',
    'slider-enable',
    sliderRowAttributes,
    'Settings'
) }}

{% if sliderInfo.isPuliginActive == 'true' %}
    <div id="toogle-slider-enable" style="display: none;">
        <div class="row">
            <div class="col-md-12">
                {% if(sliderInfo.presets| length) %}
                    <table class="sc-table mbs-plugins-preset-list">
                        <tr>
                            <th class="mbs-gg-header">
                                <label class="sc-checkbox">
                                    <input type="checkbox" class="mbs-setting-select-all" data-type="slider">
                                    <div class="sc-checkbox-state"></div>
                                </label>
                            </th>
                            <th>{{ translate('Slider Name') }}</th>
                        </tr>
                        {% for val1 in sliderInfo.presets %}
                            <tr>
                                <td>
                                    <label class="sc-checkbox">
                                        <input type="checkbox" class="mbs-can-setting-checked mbs-type-slider" id="mbs-slider-{{ val1.id }}" name="plugins[slider][ids][]" value="{{ val1.id }}" {% if val1.id in pluginS.ids %} checked="checked" {% endif %}/>
                                        <div class="sc-checkbox-state"></div>
                                    </label>
                                </td>
                                <td>{{ val1.title }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="mbs-plug-msg-info">{{ translate('You have no Sliders for now. Create your Slider or Enable Membership feature for sliders which you want to use as presets!.') }}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <div class="mbs-plug-not-install">
        {{ translate('You need to install Slider by Supsystic to use this feature. ') }}
        <a target="_blank" href="{{ sliderInfo.installUrl }}">{{ translate('Install') }}</a>
        {{ translate(' plugin from your admin area, or visit it\'s official page on Wordpress.org ') }}
        <a target="_blank" href="{{ sliderInfo.installWpUrl }}">{{ translate('here') }}</a>
    </div>
{% endif %}