<div class="updated notice supsystic-admin-notice is-dismissible">
    <h3>{{ translate('Hey, I noticed you just use Membership by Supsystic over a week – that’s awesome!') }}</h3>
    {{ translate('Could you please do me a BIG favor and give it a 5-star rating on WordPress? Just to help us spread the word and boost our motivation.') }}
	<p></p>
	<a class="button button-primary" href="https://wordpress.org/support/plugin/membership-by-supsystic/reviews/?rate=5#new-post" target="_blank" data-response-code="hide">{{ translate('Ok, you deserve it') }}</a>
	<button class="button" data-response-code="later">{{ translate('Nope, maybe later') }}</button>
	<button class="button" data-response-code="done">{{ translate('I already did') }}</button>
	<p></p>
</div>