<script async type="text/javascript" src="{{ assets('auth', 'js/reset-password-confirmation.frontend.js') }}"></script>
<div class="sc-membership">	
	<div class="ui centered grid">
		<div class="column left aligned">
			<form class="ui form left reset-password-form"
			      method="post"
			      data-validation-rules="{{ {
				      'password': {
					      'presence': {
						      'message': '%s'
					      }
				      },
				      'password_confirmation': {
					      'presence': {
						      'message': '%s'
					      },
					      'equality': {
						      'attribute': 'password',
						      'message': '%s'
					      }
				      }
			      }
			      |json_encode
			      |format(translate('New password can\'t be empty.'), translate('New password confirmation can\'t be empty.'), translate('New password and password confirmation not match.')) }}"
			>
				<div class="field" data-name="password">
					<label>{{ translate('New password') }}</label>
					<input type="password" name="password">
				</div>
				
				<div class="field" data-name="password_confirmation">
					<label>{{ translate('New password confirmation') }}</label>
					<input type="password" name="password_confirmation">
				</div>
				
				<input type="hidden" name="key" value="{{ request.query.key }}">
				<input type="hidden" name="user" value="{{ request.query.user }}">
				
				<div class="field">
					<a class="ui button primary mini submit">{{ translate('Reset password') }}</a>
				</div>
			</form>
		</div>
	</div>
</div>