<div data-name="g-recaptcha-response">
	<div class="g-recaptcha"
	     data-sitekey="{{ key }}"
	     data-theme="{{ theme }}"
	     data-type="{{ type }}"
	     data-size="{{ size }}"
	     data-callback="{{ callback|default('MembershipRecaptchaResponseCallback') }}"
	></div>
</div>